@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color1: #eeeeee;
    --bg-color2: #eeeeee66;
    --bg-color3: #eeeeee99;
    --color: #000000;
    --color2: #4c1036;
    --color3: #911e72;
    --border-color: #eeeeee99;
    --box-shadow-color: #00000066;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main {
    height: 100%;
    width: 100%;
    background-image: url("../img/wallpaper1.jpg");
    background-position: center;
    background-size: cover;
}

#workspace {
    width: 100%;
    height: calc(100vh - (2vh + 50px));
    padding: 10px;
}

#workspace .workspaceElements {
    --color: #f5f5f5;
    color: var(--color);
    width: 75px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#workspace .workspaceElements:hover {
    --bg-color-element-workspace: #911e7234;
    background-color: var(--bg-color-element-workspace);

    border: 2px solid var(--bg-color-element-workspace);
    border-radius: 5px;
    cursor: pointer;
}

#workspace .workspaceElements img {
    width: 75px;
}

#taskBar {
    display: flex;
    position: absolute;
    bottom: 2vh;
    left: 5vw;
    width: 90vw;
    height: 50px;
    background-color: var(--bg-color2);
    color: var(--color);
    border: 5px solid var(--border-color);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    z-index: 3;
}

#taskBar #start {
    width: 50px;
    height: calc(50px - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;
}

#taskBar #start:hover {
    --color: #911e72;
    cursor: pointer;
    color: var(--color);
    background-color: var(--bg-color2);
    border-radius: 5px 0px 0px 5px;

}

#taskBar #start:hover span {
    transform: scale(.9);
}

#searchBar {
    --bg-color1: #ffffff;
    width: 260px;
    height: calc(50px - 10px);
    background-color: var(--bg-color1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#searchBar:hover {
    cursor: text;
}

#taskBar #searchBar span {
    --color: #000000;

    width: 24px;
    color: var(--color);
}

#searchBar input {
    height: 30px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
}

#winStart {
    visibility: hidden;
    width: 500px;
    height: 0;
    background-color: var(--bg-color2);
    backdrop-filter: blur(5px);
    border: 2px solid var(--border-color);
    border-bottom: 0px solid transparent;
    border-radius: 10px 10px 0px 10px;
    position: absolute;
    bottom: calc(2vh + 50px);
    left: 5vw;
    transition: 0.3s;
    overflow: hidden;
    z-index: 3;
}

#winStart.active {
    visibility: visible;
    height: 80vh;
}

#asideBarOptions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: var(--bg-color2);
    overflow: hidden;
    transition-duration: .3s;
}

#asideBarOptions:hover {
    width: 200px;
}

#asideBarOptions .asideBarElements {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
}

#asideBarOptions .asideBarElements:hover {
    background-color: var(--bg-color2);
    cursor: pointer;
}

#asideBarOptions:hover .asideBarElements {
    gap: 5px;
    padding-left: 20px;
    justify-content: flex-start;
}

#asideBarOptions .asideBarElements p {
    visibility: hidden;
    width: 0;
}

#asideBarOptions:hover .asideBarElements p {
    visibility: visible;
    width: 0;
}

#powerSettingsBox {
    visibility: visible;
    width: 100vw;
    height: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--bg-color2);
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    overflow: hidden;
    z-index: 5;
    backdrop-filter: blur(10px);
    transition: .3s;
}

#powerSettingsBox.active {
    visibility: visible;
    height: 100vh;

}

#powerSettingsBox .optionPower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 400px;
    height: 400px;
    background-color: var(--bg-color2);
    color: var(--color);
    padding-left: 5px;
    font-size: 32px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    transition: .3s;
}

#powerSettingsBox .optionPower span {
    font-size: 128px;

}

#powerSettingsBox .optionPower:hover {
    --bg-color1: #f5f5f5;
    --color: #000000;
    cursor: pointer;
    background-color: var(--bg-color1);
    color: var(--color);
}

#powerSettingsBox #closePowerSettingsBox {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    color: var(--color);
}

#powerSettingsBox #closePowerSettingsBox span {
    font-size: 32px;
}

#powerSettingsBox #closePowerSettingsBox:hover {
    cursor: pointer;
}

#taskBar .taskBarApps {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

#taskBar .taskBarApps.active::after {
    content: "";
    background-color: var(--color3);
    height: 3px;
    width: 25px;
    border-radius: 1px 1px 0px 0px;
    position: absolute;
    bottom: 0px;
    transition: .3s;
}

#taskBar .taskBarApps.active:hover::after {
    width: 50px;
}

#taskBar .taskBarApps:hover {
    background-color: var(--bg-color2);
    cursor: pointer;

}

.taskBarApps:hover span {
    transform: scale(.9);
}

#taskBar #displayTimer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    font-size: 12px;
    width: 100px;
    height: 40px;
}

#taskBar #displayTimer:hover {
    background-color: var(--bg-color2);
    border-radius: 5px;
    cursor: pointer;

}

.window {
    grid-auto-flow: row;
    visibility: hidden;
    width: 600px;
    height: 0px;
    background-color: var(--bg-color2);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    overflow: hidden;
}

.window.active {
    visibility: visible;
    height: 400px;
}

.window .winTittleBar {
    height: 40px;
    background-color: var(--bg-color2);
    color: var(--color);
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window .winTittleBar .winTittle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

.window .winTittleBar .winTittle span, .window #winTittleBar .winTittle p {
    font-size: 18px;
}

.window .winTittleBar .winTittle span:hover, .window .winTittleBar .winTittle:hover p:hover{
    cursor: default;
}

.window .winTittleBar .winOptionsBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.window .winTittleBar .winOptionsBox .winOptions {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.window .winTittleBar .winOptionsBox .winOptions:hover {
    background-color: var(--bg-color2);
    cursor: pointer;
}

.window .winTittleBar .winOptionsBox .winClose {
    border-radius: 0px 8px 0px 0px;
}

.window .winTittleBar .winOptionsBox .winClose:hover {
    background-color: #ea433566;

}

.window #winSettingsBar {
    width: 150px;
    height: calc(100% - 40px);
    background-color: var(--bg-color2);
    color: var(--color);
}

.window #winSettingsBar .winSettingsOptions {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 50px;
    padding-left: 10px;
    font-size: 18px;
}

.window #winSettingsBar .winSettingsOptions span, .window #winSettingsBar .winSettingsOptions p {
    font-size: 18px;
}

.window #winSettingsBar .winSettingsOptions:hover {
    background-color: var(--bg-color2);
    cursor: pointer;
}

.window #winSettingsTheme {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 150px;
    width: 450px;
    height: calc(100% - 40px);
    padding: 10px;
    overflow: hidden;
    transform: scale(1.04);
    transition: .3s;
}

.window #winSettingsTheme.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.window #winSettingsTheme #settingsThemeTittle {
    color: var(--color);
}

.window #winSettingsTheme #selectTheme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.window #winSettingsTheme #selectTheme .themeOptions {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 90px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: .5s;
}

.window #winSettingsTheme #selectTheme .themeOptions:hover {

    cursor: pointer;
    border-color: var(--color3);
    transform: scale(1.1);
}

.window #winSettingsTheme #selectTheme .themeOptions.active {
    border-color: var(--color3);
}

.window #winSettingsTheme #selectTheme .themeOptions .nameTheme {
    --bg-color2: #00000066;
    --color: #f5f5f5;
    background-color: var(--bg-color2);
    color: var(--color);
    padding: 5px;
    text-align: center;
}

.window #winSettingsTheme #selectTheme .themeOptions:hover .nameTheme {
    visibility: hidden;
}

.window #winSettingsTheme #selectTheme #lightMode {
    background-image: url("../img/lightThemeImageExemple.png");
}

.window #winSettingsTheme #selectTheme #darkMode {
    background-image: url("../img/darkThemeImageExemple.png");
}

.window #winSettingsTheme #selectWallpaper {
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.window #winSettingsTheme #selectWallpaper #addWallpaper {
    display: none;
}

.window #winSettingsTheme #selectWallpaper label {
    background-color: var(--bg-color2);
    width: 50px;
    height: 50px;
    border: 1px solid var(--bg-color3);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.window #winSettingsTheme #selectWallpaper label:hover {
    cursor: pointer;
    border-color: var(--color3);
    color: var(--color3);
}

.window #winSettingsTheme #selectWallpaper span {
    font-size: 30px;
}


.loader {
    --bg-color1: #000000;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background-color: var(--bg-color1);
    z-index: 100;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.loader p {
    --color: #f5f5f5;
    color: var(--color);
    position: relative;
    top: 50px;
    font-size: 24px;
}

.loader::after {
    --border-color: #f5f5f5;
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid var(--border-color);
    border-top-color: var(--color3);
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}