@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color0: #ffffff;
    --color0-1: #f5f5f5;
    --color0-2: #f5f5f566;
    --color0-3: #f5f5f599;
    --color1: #000000;
    --color1-2: #00000066;
    --color2: #4c1036;
    --color3: #72195a;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
    width: 100%;
    background-image: url("../img/wallpaper1.jpg");
    background-position: center;
    background-size: cover;
}

#taskBar {
    display: flex;
    position: absolute;
    bottom: 2vh;
    left: 5vw;
    width: 90vw;
    height: 50px;
    background-color: var(--color0-2);
    border: 5px solid var(--color0-2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

#taskBar #start {
    width: 50px;
    height: calc(50px - 10px);
    color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

#taskBar #start:hover {
    cursor: pointer;
    color: var(--color3);
    background-color: var(--color0-2);
    border-radius: 5px 0px 0px 5px;

}

#taskBar #start:hover span {
    transform: scale(.9);
}

#searchBar {
    width: 260px;
    height: calc(50px - 10px);
    background-color: var(--color0-1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#searchBar:hover {
    cursor: text;
}

#seachBar:focus {
    border: 2px solid var(--color3);
}

#searchBar input {
    height: 30px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
}

#winStart {
    visibility: hidden;
    width: 500px;
    height: 0;
    background-color: var(--color0-2);
    backdrop-filter: blur(5px);
    border: 1px solid var(--color0-2);
    border-radius: 10px;
    position: absolute;
    bottom: calc(2vh + 50px);
    left: 5vw;
    transition: 0.3s;
    overflow: hidden;
}

#winStart.active {
    visibility: visible;
    height: 80vh;
}

#asideBarOptions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: var(--color0-2);
}

#asideBarOptions .asideBarElements {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#asideBarOptions .asideBarElements:hover {
    background-color: var(--color0-1);
    cursor: pointer;
}

#powerSettingsBox {
    visibility: hidden;
    width: 200px;
    height: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 50px;
    background-color: var(--color0-1);
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--color1-2);
    transition: .3s;
    overflow: hidden;
}

#powerSettingsBox.active {
    visibility: visible;
    height: 90px;
}

#powerSettingsBox .optionPower {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    font-size: 14px;
}

#powerSettingsBox .optionPower span {
    font-size: 18px;
}

#powerSettingsBox .optionPower:hover {
    cursor: pointer;
    background-color: var(--color0);
}

#taskBar .taskBarApps {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.taskBarApps:hover {
    background-color: var(--color0-2);
    cursor: pointer;

}

.taskBarApps:hover span {
    transform: scale(.9);
}

#winSettings {
    visibility: hidden;
    width: 600px;
    height: 0;
    background-color: var(--color0-2);
    border: 2px solid var(--color0-2);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    overflow: hidden;
}

#winSettings.active {
    visibility: visible;
    height: 400px;
}

#winSettings #tittleBar {
    height: 40px;
    background-color: var(--color0-2);
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#winSettings #tittleBar #winTittle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

#winSettings #tittleBar #winTittle span, #winSettings #tittleBar #winTittle p {
    font-size: 18px;
}

#winSettings #tittleBar #winTittle span:hover, #winSettings #tittleBar #winTittle:hover p:hover{
    cursor: default;
}

#winSettings #tittleBar #winOptionsBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

#winSettings #tittleBar #winOptionsBox .winOptions {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

#winSettings #tittleBar #winOptionsBox #winClose {
    border-radius: 0px 8px 0px 0px;
}

#winSettings #tittleBar #winOptionsBox #winClose:hover {
    background-color: #ea433566;

}

#winSettings #tittleBar #winOptionsBox .winOptions:hover {
    background-color: var(--color0-2);
    cursor: pointer;
}

#winSettings #winSettingsBar {
    width: 150px;
    height: calc(100% - 40px);
    background-color: var(--color0-2);
}

#winSettings #winSettingsBar .winSettingsOptions {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 50px;
    padding-left: 10px;
    font-size: 18px;
}

#winSettings #winSettingsBar .winSettingsOptions span {
    font-size: 18px;
}

#winSettings #winSettingsBar .winSettingsOptions:hover {
    background-color: var(--color0-1);
    cursor: pointer;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background-color: var(--color1);
    z-index: 2;
}

#loader p {
    color: var(--color0);
    position: relative;
    top: 50px;
    font-size: 24px;
}

#loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid var(--color0);
    border-top-color: var(--color3);
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

#loader.hidden {
    visibility: 0;
    opacity: 0;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}