<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/workspace.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Hakiro OS</title>
</head>
<body>
    <main>
        <div id="winStart">
            <div id="asideBarOptions">
                <div id="powerSettingsBox">
                    <div class="optionPower">
                        <span class="material-symbols-rounded">bedtime</span>
                        <p>Suspender</p>
                    </div>
                    <div class="optionPower">
                        <span class="material-symbols-rounded">power_settings_new</span>
                        <p>Desligar</p>
                    </div>
                    <div class="optionPower">
                        <span class="material-symbols-rounded">restart_alt</span>
                        <p>Reiniciar</p>
                    </div>
                </div>
                <div id="userConfig" class="asideBarElements">
                    <span class="material-symbols-rounded">person</span>
                </div>
                <div id="powerSettings" class="asideBarElements">
                    <span class="material-symbols-rounded">power_settings_new</span>
                </div>
            </div>
        </div>
        <div id="taskBar">
            <div id="start" class="taskBarElement">
                <span class="material-symbols-rounded">home</span>
            </div>
            <div id="searchBar">
                <span class="material-symbols-rounded">search</span>
                <input type="text" placeholder="Search">
            </div>
            <div id="settings" class="taskBarApps">
                <span class="material-symbols-rounded">settings</span>
            </div>
        </div>
    </main>
    <script src="../js/win.js"></script>
</body>
</html>